body {
  font-family: "Myriad-Pro",sans-serif;
  color: #494949;
}

h2 {
  font-family: "Myriad-Pro",sans-serif;
  font-size: 17px;
  font-weight: 600;
}

.div-link {
    font-size: 11px;
    text-align: right;
}

.msw-button {
  font-size: 11px;
  padding: 5px;
  border: 0;
  text-decoration: underline;
  margin-bottom: 2px
}

.msw-label {
    font-size: 11px;
    display: inline-block;
    margin-top: 10px;
}

#swmPlan, #wComposition, #show_bc {
  background: #E6E9F1;
  text-decoration: none;
}

.recalculating {opacity: 1.0;}
