body {
  font-family: "Myriad-Pro",sans-serif;
  color: #494949;
}

h2 {
  font-family: "Myriad-Pro",sans-serif;
  font-size: 17px;
  font-weight: 600;
}

.div-link {
    font-size: 11px;
    text-align: right;
}

.msw-link {
  color: #808080;
  text-decoration: underline;
  font-size: 12px;
}

.msw-button {
  font-size: 87%;
  padding: 5px;
  border: 0px;
  text-decoration: underline;
}

#swmPlan, #wComposition {
  background: #E6E9F1;
  text-decoration: none;
}

#ui {
  display: inline-block;
}

select, label {
  border: none;
  font-size: 11px;
  font-weight: 500;
}

.select-style {
    border: none;
    display: inline-block;
    width: 70px;
    border-radius: 3px;
    overflow: hidden;
}

.select-style select {
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
        text-decoration: underline;

}

.select-style select:focus {
    outline: none;
}

.loading-spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: -1;
  margin-top: -33px;  /* half of the spinner's height */
  margin-left: -33px; /* half of the spinner's width */
}
